<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Owners index</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="petdata.model.PetOwner"*/-->
<h2 th:text="'List of Owners'">Pet Owners list</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:150px;">Id</th>
            <th  style="width:150px;">First Name</th>
            <th  style="width:150px;">Last Name</th>

        </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text ="${owner?.id}">id</td>
        <td th:text ="${owner?.firstName}">firstName</td>
        <td th:text ="${owner?.lastName}">lastName</td>

    </tr>
    </tbody>
</table>
</body>
</html>